<div class="wrapper wrapper-content">

  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>User List</h5>
      </div>

      <!--Get one user {{ users | json }}-->
      <!--<button (click)="onClick()">Click me!</button>-->
      <div class="ibox-content">
        Today : {{todaydate}}
        <div class="row">
          <a (click)="addUser()"><button class="btn button-shadow button-margin btn-create" type="button"><i class="fa fa-paste"></i>  Create User</button></a>
        </div>

        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <table class="table dataTables-example table-hover" datatable [dtOptions]="dtOptions">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>User name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngIf="persons?.length != 0">
              <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userName }}</td>
                <td>
                  <a title="View">
                    <button (click)="showUser(user.id)" type="button" class="btn button-shadow btn-show">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                  </a>

                  <a title="Delete">
                    <button (click)="confirmFileDeletionSwal.show()" type="button" class="btn button-shadow btn-delete">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </a>

                  <swal #confirmFileDeletionSwal
                        title="Are you sure want to delete it?" text="Delete record" type="warning"
                        [options]="{ showCancelButton: true,  confirmButtonText: 'Yes, deleted!',  confirmButtonColor: '#DD6B55' }"
                        (confirm)="deleteUser(user.id)"
                        (cancel)="cancelPopup()"></swal>

                </td>
              </tr>
              </tbody>
              <tbody *ngIf="users?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
              <tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

