<div class="wrapper wrapper-content">

  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Service Initializer</h5>
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3>Service Flow</h3>
          <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>

          <div class="form-group">
            <input type="text" placeholder="SERVICE NAME" [(ngModel)]="serviceName" class="form-control">
          </div>

          <div class="form-group">

            <h4>Transfer custom data in Drag-and-Drop</h4>

            <a title="Assign Block">
              <button class="btn btn-info dim" type="button" dnd-draggable [dragEnabled]="true"
                      [dragData]="transferAssignData">
                <i class="fa fa-stack-overflow"></i>
              </button>
            </a>

            <a title="Function Block">
              <button class="btn btn-warning dim" type="button" dnd-draggable [dragEnabled]="true"
                      [dragData]="transferFunctionData">
                <i class="fa fa-cubes"></i>
              </button>
            </a>

            <a title="Branch Block">
              <button class="btn btn-danger dim" type="button" dnd-draggable [dragEnabled]="true"
                      [dragData]="transferBranchData">
                <i class="fa fa-code-fork"></i>
              </button>
            </a>

            <a title="Return Block">
              <button class="btn btn-primary dim" type="button" dnd-draggable [dragEnabled]="true"
                      [dragData]="return_transferData">
                <i class="fa fa-share-square-o"></i>
              </button>
            </a>

            <a title="Default Block">
              <button class="btn btn-default dim" type="button" dnd-draggable [dragEnabled]="true"
                      [dragData]="defalut_transferData">
                <i class="fa fa-delicious"></i>
              </button>
            </a>

          </div>

          <div class="ibox">
            <div class="ibox-content">
              <h3>Place to Drop</h3>

              <ul class="sortable-list connectList agile-list ui-sortable" dnd-droppable
                  (onDropSuccess)="transferDataSuccess($event)">
                Drop Item Count : (Items:{{receivedData.length}})
                <li [hidden]="!receivedData.length > 0" *ngFor="let data of receivedData"
                    class="{{data.element_css}}-element node-active-{{data.uuid == activeNodeUuid}}" (click)="onNodeClick(data)">
                  <div class="row">
                    <div class="col-sm-4" style="font-size: 47px;">
                      <i class="{{data.symbol}}" dnd-draggable [dragEnabled]="false"></i>
                    </div>
                    <div class="col-sm-8">
                      <br>
                      <label>Node Type : </label> {{data.name}}
                      <br>
                      <label>Node Id : </label> {{data.id}}
                      <br>
                      <div class="agile-detail">
                        <a href="#" class="pull-right btn btn-xs btn-white">Remove</a>
                      </div>
                    </div>
                  </div>

                </li>

              </ul>

            </div>
          </div>

          <input type="button" class="btn btn-w-m btn-info" value="Submit" (click)="submitJson()"/>

        </div>

      </div>
    </div>

    <div class="col-lg-8">
      <div class="ibox">
        <div class="ibox-content">

          <!--<app-test-drag *ngIf="blockTypeName == 'DRAG'"></app-test-drag>-->
          <app-service-assign-block *ngIf="blockTypeName == 'ASSIGN'" [schemaData]="nodeData"
                                    (assignBlockJson)="createAssignNodeDataObject($event, 'ASSIGN', 'fa fa-stack-overflow')"></app-service-assign-block>
          <app-service-function-block *ngIf="blockTypeName == 'FUNCTION'" [schemaData]="nodeData"
                                      (functionBlockJson)="createAssignNodeDataObject($event,'FUNCTION','fa fa-cubes')"></app-service-function-block>
          <app-service-branch-block *ngIf="blockTypeName == 'BRANCH'"
                                    (branchBlockJson)="createAssignNodeDataObject($event,'BRANCH','fa fa-code-fork')"></app-service-branch-block>
          <app-service-default-block *ngIf="blockTypeName == 'DEFAULT'"
                                     (defaultBlockJson)="createAssignNodeDataObject($event,'DEFAULT','fa fa-delicious')"></app-service-default-block>
          <app-service-return-block *ngIf="blockTypeName == 'RETURN'"
                                    (returnBlockJson)="createAssignNodeDataObject($event,'RETURN','fa fa-share-square-o')"></app-service-return-block>


        </div>
      </div>
    </div>

  </div>

</div>

