<div class="wrapper wrapper-content">

  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Service Initializer</h5>
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3>Service Flow</h3>
          <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>

          <div class="form-group">
            <input type="text" placeholder="SERVICE NAME" [(ngModel)]="serviceName" class="form-control">
          </div>

        <!--  <div class="form-group">
            <select name="" id="" class="form-control" [(ngModel)]="blockType" (change)="addNewBlock()">
              <option value="" selected="selected">-SELECT-</option>
              <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>-->

       <!--   <ul class="sortable-list connectList agile-list ui-sortable">

            &lt;!&ndash;mainJson&ndash;&gt;

            <li *ngFor="let node of nodeList" class="success-element" cdkDrag>
              <div class="row" (click)="onNodeClick(node.id)">
                <div class="col-sm-2" style="font-size: 47px;">
                  <i class="{{node.symbol}}"></i>
                </div>
                <div class="col-sm-10">
                  <br>
                  <label>Block Id : </label> {{node.id}}
                  <br>
                  <label>Next Block Id : </label> {{node['next-node']}}
                  <br>
                  <label>Description : </label> {{node.description}}
                  <br>
                  <div class="agile-detail">
                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                    <i class="fa fa-clock-o"></i> 05.04.2015
                  </div>
                </div>
              </div>

            </li>

          </ul>-->






          <h4>Transfer custom data in Drag-and-Drop</h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-success">
                <div class="panel-heading">Node List</div>
                <div class="panel-body">

                  <img class="assign" src="../../../assets/img/system/BRANCH.png" dnd-draggable [dragEnabled]="true" [dragData]="transferBranchData">
                  <img class="assign" src="../../../assets/img/system/FUNCTION.png" dnd-draggable [dragEnabled]="true" [dragData]="transferFunctionData">
                  <img class="assign" src="../../../assets/img/system/ASSIGN.png" dnd-draggable [dragEnabled]="true" [dragData]="transferAssignData">

                  <img class="assign" src="../../../assets/img/system/BRANCH.png" dnd-draggable [dragEnabled]="true" [dragData]="transferData">
                  <img class="assign" src="../../../assets/img/system/BRANCH.png" dnd-draggable [dragEnabled]="true" [dragData]="transferData">


                </div>



              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataSuccess($event)">
                <div class="panel-heading">Place to drop (Items:{{receivedData.length}})</div>
                <div class="panel-body">
                  <div class="node-bg" [hidden]="!receivedData.length > 0" *ngFor="let data of receivedData">

                    <div class="row node-active-{{data.uuid == activeNodeUuid}}" (click)="onNodeClick(data)">
                      <div class="col-sm-2">
                      <img class="assign" src="../../../assets/img/system/{{data.name}}.png" dnd-draggable [dragEnabled]="false" >
                      </div>
                      <div class="col-sm-10">
                        <label> Node Type : {{data.name}}</label>
                        <br>
                        <label> Node Id : {{data.id}}</label>
                        <br>
                        <label> {{data.uuid}}</label>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>









        </div>
        <input type="button" value="Click" (click)="submitJson()" />
      </div>
    </div>

    <div class="col-lg-8">
      <div class="ibox">
        <div class="ibox-content">

          <!--<app-test-drag *ngIf="blockTypeName == 'DRAG'"></app-test-drag>-->
          <app-service-assign-block *ngIf="blockTypeName == 'ASSIGN'"  [schemaData]="nodeData" (assignBlockJson)="createAssignNodeDataObject($event, 'ASSIGN', 'fa fa-stack-overflow')"></app-service-assign-block>
          <app-service-function-block *ngIf="blockTypeName == 'FUNCTION'"  [schemaData]="nodeData" (functionBlockJson)="createAssignNodeDataObject($event,'FUNCTION','fa fa-cubes')"></app-service-function-block>
          <app-service-branch-block *ngIf="blockTypeName == 'BRANCH'" (branchBlockJson)="createAssignNodeDataObject($event,'BRANCH','fa fa-code-fork')"></app-service-branch-block>
          <app-service-default-block *ngIf="blockTypeName == 'DEFAULT'" (defaultBlockJson)="createAssignNodeDataObject($event,'DEFAULT','fa fa-delicious')"></app-service-default-block>
          <app-service-return-block *ngIf="blockTypeName == 'RETURN'" (returnBlockJson)="createAssignNodeDataObject($event,'RETURN','fa fa-share-square-o')"></app-service-return-block>


        </div>
      </div>
    </div>

  </div>

</div>

